---
layout: default
title: Sentr.io Recovery Process
---
<h1>Sentr.io Recovery Process</h1>

<p>Someone at the ip <code>10.0.1.9</code> has initiated a recovery process for this account.</p>
<p>To continue this process click the link below:</p>

<a href="#">https://sentr.io/recovery?a=6DED44BB-F46A-4844-9713-165D95C4DE6E</a>

<p>If clicking the link doesn't work, please copy and pase the URL into a new browser window instead. If you've recieved this mail in error, ignore this message.</p>

<p>Best,</p>
<h3>Sentr.io</h3>
